global
    log stdout format raw local0
    maxconn 4096

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 2m
    timeout server 2m

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /
    stats refresh 10s

frontend rabbitmq_amqp
    bind *:5672
    default_backend rabbitmq_amqp_nodes

backend rabbitmq_amqp_nodes
    balance roundrobin
    server rabbitmq-1 rabbitmq-1:5672 check inter 2s fall 3 rise 2
    server rabbitmq-2 rabbitmq-2:5672 check inter 2s fall 3 rise 2
    server rabbitmq-3 rabbitmq-3:5672 check inter 2s fall 3 rise 2

frontend rabbitmq_mqtt
    bind *:1883
    default_backend rabbitmq_mqtt_nodes

backend rabbitmq_mqtt_nodes
    balance roundrobin
    server rabbitmq-1 rabbitmq-1:1883 check inter 2s fall 3 rise 2
    server rabbitmq-2 rabbitmq-2:1883 check inter 2s fall 3 rise 2
    server rabbitmq-3 rabbitmq-3:1883 check inter 2s fall 3 rise 2
